@import "resets.css";

/* Main */

#wrapper {
  border: 1px #000 solid;
  width: 726px;
  height: 88px;
  overflow: hidden;
  position: relative;
  font-family: Arial;
}
#banner {
  width: 726px;
  height: 88px;
  overflow: hidden;
}
#frame, #couple, #scroll {
  position: absolute;
}
 #text1a, #text1b, #text2a, #text2b, #text3, #text4, #bg1, #bg2, #bg3, #bg4, #text5, #logo, #cta {
  opacity: 0;
  position: absolute;
}

/* Frames */

#frame {
  width: 726px;
  height: 88px;
  background-color: #006c3e;
}
#bg1 {
  background-image: url("../img/bg1.jpg");
  width: 473px;
  height: 88px;
}
#bg2 {
  background-image: url("../img/bg2.jpg");
  width: 473px;
  height: 88px;
}
#bg3 {
  background-image: url("../img/bg3.jpg");
  width: 358px;
  height: 88px;
}
#bg4 {
  background-image: url("../img/bg4.jpg");
  width: 358px;
  height: 88px;
}
#text1a {
  background-image: url("../img/text1a.png");
  width: 383px;
  height: 24px;
  top: 19px;
  left: -144px;
}
#text1b {
  background-image: url("../img/text1b.png");
  width: 304px;
  height: 24px;
  top: 51px;
  left: -144px;
}
#text2a {
  background-image: url("../img/text2a.png");
  width: 356px;
  height: 24px;
  top: 18px;
  left: -139px;
}
#text2b {
  background-image: url("../img/text2b.png");
  width: 276px;
  height: 24px;
  top: 50px;
  left: -142px;
}
#text3 {
  background-image: url("../img/text3.png");
  width: 294px;
  height: 62px;
  top: 13px;
  left: -182px;
}
#text4 {
  background-image: url("../img/text4.png");
  width: 327px;
  height: 65px;
  top: 11px;
  left: -189px;
}
#couple {
  background-image: url("../img/couple.png");
  width: 267px;
  height: 88px;
  right: 0;
}
#logo {
  background-image: url("../img/logo.png");
  width: 113px;
  height: 51px;
  top: 24px;
  left: 10px;
}
#text5 {
  background-image: url("../img/text5.png");
  width: 163px;
  height: 35px;
  top: 29px;
  left: 144px;
}
#cta {
  background-image: url("../img/cta-text.png"), -webkit-linear-gradient(rgba(193,215,44,1) 0%,rgba(76,154,34,1) 100%);
  background-image: url("../img/cta-text.png"), linear-gradient(rgba(193,215,44,1) 0%,rgba(76,154,34,1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  height: 20px;
  width: 167px;
  border: 1px solid #cfd915;
  border-radius: 6px;
  top: 54px;
  left: 142px;
}
#cta:hover {
  background-image: url("../img/cta-text.png"), -webkit-linear-gradient(rgba(76,154,34,1) 0%,rgba(193,215,44,1) 100%);
  background-image: url("../img/cta-text.png"), linear-gradient(rgba(76,154,34,1) 0%,rgba(193,215,44,1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
}

/* Click-Area */

#click-area {
  position: absolute;
  background-color: #6AEAEA; opacity: 0; /* Development */
  width: 726px;
  height: 88px;
}

/* Scroll */

#scroll {
  opacity: 1;
  position: absolute;
  width: 368px;
  height: 88px;
  background-color: #fff;
  /*border-top: 1px solid #01663b;*/
  right: -368px;
}
#scroll-wrapper {
  direction:rtl;
  overflow-y: scroll;
  width: 368px;
  height: 70px;
}
#scroll-content {
  direction: ltr;
  margin: 4px 6px;
  font-size: 11px;
  line-height: 14px;
  color: #666;
}
#scroll-content ul {
  margin-left: 16px;
}
#scroll-content span#title {
  font-size: 10px;
  font-weight: bold;
  color: #000;
}
#scroll-content p {
  margin-bottom: 4px;
}
#scroll-title {
  background-image: radial-gradient(rgba(78,167,39,1) 0%,rgba(55,118,28,1) 100%);
  background-image: -webkit-radial-gradient(rgba(78,167,39,1) 0%,rgba(55,118,28,1) 100%);
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  padding-left: 6px;
  /*padding-top: 4px;*/
}
#scroll .important{
	font-size:14px;
}
#scroll-title a {
  color: #fff;
}
#scroll-content a {
  color: #298733;
}
#scroll .green {
  color: #298733;
}
#scroll .italic{
  font-style: italic;
}
#scroll .bold{
  font-weight: bold;
}
.frame::-webkit-scrollbar {
  width: 12px;
}
.frame::-webkit-scrollbar-thumb {
  background-color: #72bf41;
  background-image: url("../img/scroll_thumb.gif");
  height:40px;
}
.frame::-webkit-scrollbar-track {
  background-color: #d9eac5;
}
