@import "resets.css";

/* Main */

#wrapper {
  border: 1px #000 solid;
  width: 298px;
  height: 598px;
  overflow: hidden;
  position: relative;
  font-family: Arial;
}
#banner {
  width: 298px;
  height: 598px;
  overflow: hidden;
}
#frame, #text1a, #text1b, #text1c, #text1d, #text2a, #text2b, #text2c, #text3, #text4, #scroll {
  position: absolute;
}
#bg1, #bg2, #bg3, #bg4, #text5, #logo, #cta {
  opacity: 0;
  position: absolute;
}
/* Frames */

#frame {
  width: 298px;
  height: 598px;
  background-color: #006c3e;
}
#bg1 {
  background-image: url("../img/bg1.jpg");
  width: 298px;
  height: 598px;
}
#bg2 {
  background-image: url("../img/bg2.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 298px;
  height: 598px;
}
#bg3 {
  background-image: url("../img/bg3.jpg");
  width: 298px;
  height: 309px;
}
#bg4 {
  background-image: url("../img/bg4.jpg");
  width: 298px;
  height: 309px;
}
#text1a {
  background-image: url("../img/text1a.png");
  width: 217px;
  height: 47px;
  top: 426px;
  left: -262px;
  /*top: 384px;*/
  /*left: 38px;*/
}
#text1b {
  background-image: url("../img/text1b.png");
  width: 225px;
  height: 60px;
  top: 456px;
  left: -264px;
  /*top: 412px;*/
  /*left: 36px;*/
}
#text1c {
  background-image: url("../img/text1c.png");
  width: 221px;
  height: 66px;
  top: 490px;
  left: -261px;
  /*top: 448px;
  left: 39px;*/
}
#text1d {
  background-image: url("../img/text1d.png");
  width: 225px;
  height: 66px;
  top: 534px;
  left: -261px;
  /*top: 492px;
  left: 39px;*/
}
#text2a {
  background-image: url("../img/text2a.png");
  width: 144px;
  height: 55px;
  top: 433px;
  left: -221px;
  /*top: 391px;
  left: 79px;*/
}
#text2b {
  background-image: url("../img/text2b.png");
  width: 260px;
  height: 63px;
  top: 463px;
  left: -279px;
  /*top: 421px;
  left: 21px;*/
}
#text2c {
  background-image: url("../img/text2c.png");
  width: 260px;
  height: 60px;
  top: 496px;
  left: -279px;
  /*top: 454px;
  left: 21px;*/
}
#text3 {
  background-image: url("../img/text3.png");
  width: 269px;
  height: 212px;
  top: 103px;
  left: -281px;
  /*top: 61px;
  left: 19px;*/
}
#text4 {
  background-image: url("../img/text4.png");
  width: 272px;
  height: 223px;
  top: 99px;
  left: -285px;
  /*top: 57px;
  left: 15px;*/
}
#logo {
  background-image: url("../img/logo.png");
  width: 157px;
  height: 70px;
  top: 62px;
  left: 71px;
}
#text5 {
  background-image: url("../img/text5.png");
  width: 221px;
  height: 48px;
  top: 159px;
  left: 38px;
}
#cta {
  background-image: url("../img/cta-text.png"), -webkit-linear-gradient(rgba(193,215,44,1) 0%,rgba(76,154,34,1) 100%);
  background-image: url("../img/cta-text.png"), linear-gradient(rgba(193,215,44,1) 0%,rgba(76,154,34,1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  height: 36px;
  width: 200px;
  border: 1px solid #cfd915;
  border-radius: 6px;
  top: 218px;
  left: 48px;
}
#cta:hover {
  background-image: url("../img/cta-text.png"), -webkit-linear-gradient(rgba(76,154,34,1) 0%,rgba(193,215,44,1) 100%);
  background-image: url("../img/cta-text.png"), linear-gradient(rgba(76,154,34,1) 0%,rgba(193,215,44,1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
}

/* Click-Area */

#click-area {
  position: absolute;
  background-color: #6AEAEA; opacity: 0; /* Development */
  width: 298px;
  height: 598px;
}

/* Scroll */

#scroll {
  /*opacity: 1;*/
  position: absolute;
  width: 298px;
  height: 288px;
  background-color: #fff;
  border-top: 1px solid #01663b;
  bottom: -289px;
  /*bottom: 0;*/
}
#scroll-wrapper {
  direction:rtl;
  overflow-y: scroll;
  width: 298px;
  height: 257px;
}
#scroll-content {
  direction: ltr;
  margin: 4px 6px;
  font-size: 11px;
  line-height: 14px;
  color: #666;
}
#scroll-content ul {
  margin-left: 16px;
}
#scroll-content span#title {
  font-size: 10px;
  font-weight: bold;
  color: #000;
}
#scroll-content p {
  margin-bottom: 4px;
}
#scroll-title {
  background-image: radial-gradient(rgba(78,167,39,1) 0%,rgba(55,118,28,1) 100%);
  background-image: -webkit-radial-gradient(rgba(78,167,39,1) 0%,rgba(55,118,28,1) 100%);
  height: 27px;
  line-height: 13px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  padding-left: 6px;
  padding-top: 4px;
}
#scroll .important{
	font-size:14px;
}
#scroll-title a {
  color: #fff;
}
#scroll-content a {
  color: #298733;
}
#scroll .green {
  color: #298733;
}
#scroll .italic{
  font-style: italic;
}
#scroll .bold{
  font-weight: bold;
}
.frame::-webkit-scrollbar {
  width: 12px;
}
.frame::-webkit-scrollbar-thumb {
  background-color: #72bf41;
  background-image: url("../img/scroll_thumb.gif");
  height:40px;
}
.frame::-webkit-scrollbar-track {
  background-color: #d9eac5;
}
